    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title><%= title %> | <%= mainTitle %></title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap" rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="<%= assetsUrl %>vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="<%= assetsUrl %>vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="<%= assetsUrl %>vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="<%= assetsUrl %>vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="<%= assetsUrl %>vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="<%= assetsUrl %>css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="<%= assetsUrl %>vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="<%= assetsUrl %>vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="<%= assetsUrl %>vendor/libs/typeahead-js/typeahead.css" />

    <!-- Helpers -->
    <script src="<%= assetsUrl %>vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="<%= assetsUrl %>vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="<%= assetsUrl %>js/config.js"></script>
    